.header {
  background: var(--grey-800);
  display: flex;
  /* justify-content: center; */
  justify-content: space-between;
  padding: 1.25rem 0;

  height: 80px;
}

.signOut {
  margin-right: 1rem;
}

.header img {
  height: 2rem;
}
.header p {
  margin-left: 10px;
}
.header p:hover {
  cursor: pointer;
  border-bottom: 3px solid #3182ce;
}
