.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 5rem 1rem;
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;

  align-items: flex-start;
}
.postUndefined {
  max-width: 70rem;
  margin: 0 auto;
  padding: 20rem 1rem;
  display: grid;
  /* grid-template-columns: 256px 1fr; */
  gap: 2rem;

  align-items: center;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}
